*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid
{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
} 

.container {
  display: flex;
  font-size: 'Avenir';
  
}

.toto{
  margin-left: auto;
}

.col-left {
  margin-top: 50px;
  grid-column-start: 1;
  grid-column-end: span 9;
/* width: 50%; */
 /padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-right {
/* width: 50%; */
  margin-top: 50px;
  grid-column-start: 11;
  grid-column-end: span 6;
  padding: 20px;
}


.image-container {
  display: flex;
  /*justify-content: center;*/
  margin-bottom: 50px;
}

h2 {

  font-family: 'Avenir';
  font-size: 55px!important;
}

.h3 {
  font-family: 'Avenir';
  margin-bottom: 30px!important;
  font-size: 70%;
}

p {
  font-family: 'Avenir';
  font-size: 12px;
  max-width: 515px;
  line-height: 150%;
  margin-bottom: 50px!important;
}

.haut {

  font-family: 'Avenir';
  font-size: 68px!important;
  font-style: italic;
  position: relative;
  left: 20px;
  margin-bottom: 350px;
}

.date{
  text-align: right;
  font-size:  20px;
}

span.texte {
  font-size: 12px;
}

.container {
  position :relative;
  right : 12px;
  font-family: Avenir;
  font-size: 14px;
}


.call {
  margin-top : 30px;
  margin-bottom: 100px;
}

.bandeau {
  margin-top : 2Opx;
  text-align: right;
  margin-bottom: 50px;
}

.navbar-brand
{
    margin-left: 4%!important;
}

.navig
{
    margin-right: 4%;
}

.button
{
    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}

.juin{
  text-align: right!important;
  font-size: 20px;
}

.date1{
  text-align: right!important;
  font-size: 12px;
}

.imgbot
{
  position: relative;
  right: 90px;
}

.special
{
  position: relative;
  left: 529px;
  margin-bottom: 50px;
}

.h3re {
  font-family: 'Avenir';
  margin-bottom: 30px!important;
  font-size: 20px;
}

.new {
  font-family: 'Avenir';
  font-size: 50px;
  position: relative;
  right : 140px;
  margin-bottom: 20px;
}

.image2 {

  position: relative;
  right: 50px;
}

.logo {
  margin-bottom: 300px;
}

.new2 {
  font-family: 'Avenir';
  font-style: normal!important;
  position: relative;
  left : 200px;
  font-weight: 300px;
  color: #C300D3;
  font-size: 40px;
  text-decoration: underline;
}

.essai {
  position: relative;
  top : 20px;
  left: 110px;
}



.button
{
    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    justify-content: space-between;

    /* white */

    border: 1px solid #FFFFFF;
}

.button0
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 57.5%;
    left: 87.5%;
    transform: translate(-50%, -50%);


    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button2
{
    box-sizing: border-box;
    background-color: white;

    /* Auto layout */

    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-family: "Avenir"!important;
    color:black;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button3
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 86%;
    left: 52%;
    transform: translate(-50%, -50%);


    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button4
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 24%;
    left: 50.5%;
    transform: translate(-50%, -50%);


    font-family: 'Avenir';
    font-style: italic;
    text-decoration: none;
    font-weight: 300;
    font-size: 150px;
    line-height: 139.5%;
    /* or 209px */

    text-align: center;

    color:black;
    flex-direction: row;
    align-items: flex-start;
    /* white */

    border: none;
}

.button5
{
    box-sizing: border-box;
    background-color: white;

    /* Auto layout */

    position: absolute;
    top: 39%;
    left: 72%;
    transform: translate(-50%, -50%);

    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:black;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    justify-content: space-between;

    /* white */

    border: 1px solid black;
}

.button6
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-family: 'Avenir';
    font-style: italic;
    text-decoration: none;
    font-weight: 300;
    font-size: 150px;
    line-height: 139.5%;
    /* or 209px */

    text-align: center;

    color:black;
    flex-direction: row;
    align-items: flex-start;
    /* white */

    border: none;
}

.button:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}

.button0:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}

.button3:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}

.button5:hover
{
    background-color: black;
    color: white;
    border-radius: 30px;
}
