*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid
{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  
}

.toto{
  margin-left: auto;
}

.col-left {
  margin-top: 50px;
  grid-column-start: 1;
  grid-column-end: span 9;
/* width: 50%; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-right {
/* width: 50%; */
  margin-top: 50px;
  grid-column-start: 11;
  grid-column-end: span 6;
  padding: 20px;
}


.image-container {
  display: flex;
  /*justify-content: center;*/
  margin-bottom: 50px;
}

h2 {

  font-family: 'Avenir';
  font-size: 55px!important;
  line-height: 129.5%;
  margin-bottom: 10px;
}

.h3 {
  font-family: 'Avenir';
  margin-bottom: 30px;
  font-size: 70%;
}

p {
  font-family: 'Avenir';
  font-size: 15px;
  max-width: 515px;
  margin-bottom: 50px;
  line-height: 150%;
}

.haut {

  grid-column-start: 1;
  grid-column-end: span 9;
  font-size: 53px;
  width: 100%;
  font-style: italic;
}

.date{
  text-align: right;
  font-size:  20px;
}

span.texte {
  font-size: 10px;
}

.container {
  text-align: center;
}

.call {
  margin-top : 50px;
  margin-bottom: 150px;
}

.bandeau {
  margin-top : 2Opx;
  text-align: right;
}

.navbar-brand
{
    margin-left: 4%!important;
}

.navig
{
    margin-right: 4%;
}

.button
{
    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}