header
{
    position: absolute;
    background-color: black;
    color: white;
    padding: 2%;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
  }

a
{
    display:block;
    text-decoration: none;
    color: white;
    font-family: 'Avenir';
    text-align: center;
}

a:hover{
    display:block;
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: 'Avenir';
}

.logo
{
    /* Vector */
    position: absolute;
    width : auto;
    height: auto;
    left: 3.5%;
    right: 0%;
    top: 32.5%;
    bottom: 0%;
}

.button_ticket
{
    /* call to action */


    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    position: absolute;
    width: 94px;
    height: 44px;
    left: 878px;
    top: 35%;

    /* white */

    border: 1px solid #FFFFFF;

}

.button_ticket:hover
{
  background-color: white;
}

.button_panier
{
    /* BTN basket */


    box-sizing: border-box;
    background-color: black;

    position: absolute;
    width: 44px;
    height: 44px;
    left: 972px;
    top: 35%;

    border: 1px solid #FFFFFF;
}

.button_panier img
{
    display: block;
    width: 100%;
    height: 100%;

}

.button_programme
{
    /* call to action */

    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    position: absolute;
    left: 70%;
    right: 22.78%;
    top: 35%;

    /* white */

    border: 1px solid #FFFFFF;
}

.button_programme:hover
{
  background-color: white;
}

.button_artistes
{
    /* call to action */

    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    position: absolute;
    left: 77.17%;
    right: 18.51%;
    top: 35%;

    /* white */

    border: 1px solid #FFFFFF;
}

.button_artistes:hover
{
  background-color: white;
}

.button_festival
{
    /* call to action */

    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    position: absolute;
    height: 44px;
    width:105px;
    left: 81.44%;
    right: 13.56%;
    top: 35%;
    /* white */

    border: 1px solid #FFFFFF;
}

.button_festival:hover
{
  background-color: white;
}

.button_info
{
    /* call to action */

    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    position: absolute;
    left: 86%;
    right: 7.23%;
    top: 35%;

    /* white */

    border: 1px solid #FFFFFF;
}

.button_info:hover
{
  background-color: white;
}

.hero
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 90%;
}