.button
{
    box-sizing: border-box;
    background-color: black;

    /* Auto layout */

    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    justify-content: space-between;

    /* white */

    border: 1px solid #FFFFFF;
}

.button0
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 57.5%;
    left: 87.5%;
    transform: translate(-50%, -50%);


    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button2
{
    box-sizing: border-box;
    background-color: white;

    /* Auto layout */

    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-family: "Avenir"!important;
    color:black;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button3
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 86%;
    left: 52%;
    transform: translate(-50%, -50%);


    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    gap: 10px;

    /* white */

    border: 1px solid #FFFFFF;
}

.button4
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 24%;
    left: 50.5%;
    transform: translate(-50%, -50%);


    font-family: 'Avenir';
    font-style: italic;
    text-decoration: none;
    font-weight: 300;
    font-size: 150px;
    line-height: 139.5%;
    /* or 209px */

    text-align: center;

    color:black;
    flex-direction: row;
    align-items: flex-start;
    /* white */

    border: none;
}

.button5
{
    box-sizing: border-box;
    background-color: white;

    /* Auto layout */

    position: absolute;
    top: 39%;
    left: 72%;
    transform: translate(-50%, -50%);

    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:black;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 21px;
    justify-content: space-between;

    /* white */

    border: 1px solid black;
}

.button6
{
    box-sizing: border-box;
    background-color: transparent;

    /* Auto layout */

    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-family: 'Avenir';
    font-style: italic;
    text-decoration: none;
    font-weight: 300;
    font-size: 150px;
    line-height: 139.5%;
    /* or 209px */

    text-align: center;

    color:black;
    flex-direction: row;
    align-items: flex-start;
    /* white */

    border: none;
}

.button:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}

.button0:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}

.button3:hover
{
    background-color: #FFFFFF;
    color: black;
    border-radius: 30px;
}

.button5:hover
{
    background-color: black;
    color: white;
    border-radius: 30px;
}

.navbar-brand
{
    margin-left: 4%!important;
}

.navig
{
    margin-right: 4%;
}

.intro
{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Avenir';
    font-size: 100px;
    font-weight: 300;
    grid-column-start: 1;
    grid-column-end: span 6;
}

.voir_artistes
{
    /* Titre H1 */

    color : #C300D3;

    font-family: 'Avenir';
    font-size: 100px;
    font-weight: 300;
    margin-top: 85px;

    text-align: right;
    grid-column-start: 9;
    grid-column-end: span 16;
    text-decoration-line: underline;
}

.intro3
{
    color : black;
 
    font-family: 'Avenir';
    font-size: 100px;
    font-weight: 300;

    margin-top: 10%;
    grid-column-start: 1;
    grid-column-end: span 10;
    text-decoration-line: none;
}

.intro4
{
    color : black;
 
    font-family: 'Avenir';
    font-size: 100px;
    font-weight: 300;

    grid-column-start: 1;
    margin-top: 0;
    grid-column-end: span 10;
    text-decoration-line: none;
}

.lien_intro
{
    display:block;
    text-decoration: underline;
    color: #C300D3;
    font-family: 'Avenir';
    text-align: left;
}

.lineup_scroll
{
    position: static;
    display : flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: auto;
    overflow-x: scroll;
}

.row1
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    padding: 0;
}

.row2
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    padding: 0;
}

.union
{
    margin-right: 760px;
}

.union3
{
    margin-right: 437px;
}

.union2
{
    margin-left: 437px;
    margin-right: 437px;
}

.button_ticket
{
    box-sizing: border-box;
    background-color: white;

    /* Auto layout */

    display: flex;
    align-items: flex-start;
    height: 47px;
    padding: 13px 21px;
    gap: 10px;
    margin-top: 50%;
    grid-column-start: 12;
    grid-column-end: 13;
    top: 95px;
	
	/* white */
	border: 1px solid black;
}
.button_ticket a
{
    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:black;
}

.button_ticket:hover
{
    background-color: black;
    border-radius: 30px;

}
.button_ticket:hover a
{
    display: flex;
    text-decoration: none;
    font-family: "Avenir"!important;
    color:white;
}

.container1 {
    margin-top: 85px;
    margin-left: auto;
    width: 100%;
    overflow: hidden;
  }
  
.col1 {
margin-left: 3%;
float: left;
width: 40%;
}
  
.col2 
    {
    float: right;
    width: 57%;
  }

.diurne
  {
    position: relative;
    display: inline-block;
    margin-top: 85px;
  }

.theatre
  {
    position: relative;
    display: inline-block;
    margin-top: 85px;
  }

.test_texte
{
    position: absolute;
    top: 72%;
    left: 27%;
    transform: translate(-50%, -50%);
    max-width: fit-content;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 129.5%;
    /* or 129px */


    /* white */

    color: #FFFFFF;
}

.ellipse1
{
    position: absolute;
    top: 80.75%;
    left: 66%;
    transform: translate(-50%, -50%);
}

.ellipse2
{
    position: absolute;
    top: 80.75%;
    left: 77.8%;
    transform: translate(-50%, -50%);
}

.ellipse3
{
    position: absolute;
    top: 80.75%;
    left: 89.6%;
    transform: translate(-50%, -50%);
}

.texte_long
{
    position: absolute;
    width: 353px;
    left: 67.64%;
    right: 13.99%;
    top: 21.11%;
    bottom: 69.17%;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 139.5%;
    /* or 21px */


    color: #000000;
}

