/* BODY */
.dark_body
{
	background-color: black;
}

.container-grid	{
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* VIDEO */

.video
{
	position: static;
	display : block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.last-edition-button
{
	    /* call to action */

		box-sizing: border-box;
		background-color: black;
	
		/* Auto layout */
	
		display: inline-block;
		flex-direction: row;
		align-items: flex-start;
		padding: 13px 21px;
		gap: 10px;
	
		position: absolute;
		left: 50%;
		right: auto;
		top: 95%;
		width: auto;
		transform: translate(-50%, -50%);
	
		/* white */
		border: 1px solid #FFFFFF;

}
/*SECTION ARTS*/
.arts
{

	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.titre-art
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
	font-size: 70px;
	font-family: 'Avenir';
}

.block img
{
	width: 100%;
	height: auto;
	padding :0;
}

.block button-art,
.block a
{
	width: 50%;
	height: auto;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all .3s;  

}

.hide-button-musique
{
	display: none;
	width: 50%;
	height: auto;
	background-color: transparent;
	border: none;
	position : absolute;
}


.block button:hover,
.block a:hover
{
	width: 100%;
	
}

.block
{
	width: 25%;
	position : relative;
}

.block-1
{
	
	display: inline-block;
	height: 0;
    margin-left: 0%;
    padding-bottom: 25%;
}

.block-2
{
	display: inline-block;
	height: 22.5%;
	margin-right: 0%;
}


.block-3
{
	display: inline-block;
	height: 0;
	margin-left: 0%;
	padding-bottom: 25%;
}


.image-3
{
	margin-left: 100%;
}


.block-4
{
	display: inline-block;
	height: 22.5%;
	margin-right: 12.5%;
}

.musique-button
{
	left: 0%;
	position :absolute;
	border-radius: 9999px 0 0 9999px;
	z-index: 1;
	background-color: black !important;
	inset: 0;
}

.musique-button:hover {
	background-color: black !important;

}

.musique-button span {
	position: absolute;
	bottom: 40px;
	left: 65%;
	transform: translateX(-50%);
	font-size: 66px;
	font-family: 'Avenir';
	opacity: 0;

}

.musique-button:hover span {
	opacity: 100;

	
}

.theatre-button
{
	left: 0%;
	position :absolute;
	border-radius: 0 9999px 9999px 0;
	z-index: 1;
	background-color: black !important;
	inset: 0;

}

.theatre-button span
{
	position: absolute;
	bottom : 40px;
	left :30%;
	font-size: 66px;
	font-family: 'Avenir';
	opacity: 0;
	transform: translateX(-50%);
}

.theatre-button:hover span 
{
	opacity: 100;
}

.theatre-button:hover 
{
	background-color: #F96A14 !important;
}


.opera-button
{
	margin-left: 50%;
	position :absolute;
	border-radius: 0 9999px 9999px 0;
	z-index: 1;
	background-color: black !important;
	inset: 0;
}

.opera-button span
{
	position: absolute;
	bottom : 40px;
	left :30%;
	font-size: 66px;
	font-family: 'Avenir';
	opacity: 0;
	transform: translateX(-50%);
}

.opera-button:hover span 
{
	opacity: 100;
}

.opera-button:hover 
{
	background-color: #C300D3 !important;
}

.danse-button
{
	margin-left: 50%;
	position :absolute;
	border-radius: 0 9999px 9999px 0;
	z-index: 1;
	background-color: black !important;
	inset: 0;
}

.danse-button span
{
	position: absolute;
	bottom : 40px;
	left :30%;
	font-size: 66px;
	font-family: 'Avenir';
	opacity: 0;
	transform: translateX(-50%);
}

.danse-button:hover span 
{
	opacity: 100;
}

.danse-button:hover 
{
	background-color: black !important;
}

.texte
{
	font-size: 70px;
	font-family: 'Avenir';
	margin-top: 100px;
	margin-bottom: 100px;

}
.citation
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
}
.auteur-citation
{
	font-size: 10px;
	font-family: 'Avenir';
}

/*SECTION PHOTO */

.photo-cirque
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width : 100%;
}

/* SECTION EN QUELQUES MOTS*/
.container-grid-2	{
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.en-quelques-mots
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width : 100%;
	background-color: #FFFFFF;
}

.mots
{
	margin-left: 5%;
	margin-right: auto;
	width: 80%;
	font-size: 70px;
	font-family: 'Avenir';
}

.qq-mots
{
	position: relative;
}

.qq-mots a
{
	padding-bottom: 0;
	width: 50%;
	height: auto;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all .3s;  
}

.blockbis-1
{
	display: inline-block;
	height: 0;
	position:relative;
    margin-left: 0%;
    padding-bottom: 25%;
	left: 5%;
}

.blockbis-2
{
	display: inline-block;
	height: 22.5%;
	margin-right: 25%;
}

.blockbis-3
{
	display: inline-block;
	height: 0;
	margin-left: 35%;
	padding-bottom: 25%;
}

.blockbis-4
{
	display: inline-block;
	height: 22.5%;
	margin-right: 5%;
}



.festival-contemporain a
{
	cursor: pointer;
	transition: all .3s;  
}

.festival-contemporain-transform
{
	display: none;
	opacity : 0;
	position :absolute;
	inset: 0;
}

.festival-contemporain span
{
	color: white;
	position: absolute;
	bottom : 70%;
	left :36px;
	font-size: 35px;
	font-family: 'Avenir';
	text-align: left;
}

.festival-contemporain
{
	opacity : 100;


}

.festival-contemporain:hover
{
	opacity : 0;
}

.festival-contemporain-transform span,
.festival-contemporain-transform p
{
	color: black;
	position: absolute;
	bottom : 70%;
	left: 36px;
	font-size: 35px;
	font-family: 'Avenir';
	text-align: left;
}



.une-volonté-politique-transform
{
	display: none;
	margin-right: 20%;
}

.une-volonté-politique span
{
	color: white;
	position: absolute;
	bottom : 70%;
	left :120px;
	font-size: 35px;
	font-family: 'Avenir';
	text-align: left;
}

.une-volonté-politique
{

}

.theatre-romain
{
	margin-left: 22.5%;
	left: 38%;
}

.theatre-romain-transform
{
	display: none;
}

.theatre-romain span
{
	color: white;
	position: absolute;
	bottom : 70%;
	left :70%;
	font-size: 35px;
	font-family: 'Avenir';
	text-align: left;
}

.un-reseau-artistique
{
	left: 73%;
}

.un-reseau-artistique span
{
	color: white;
	position: absolute;
	bottom : 70%;
	left :10%;
	font-size: 35px;
	font-family: 'Avenir';
	text-align: left;
}

.un-reseau-artistique-transform
{
	display: none;
	margin-right: 20%;
}

/*NEWSLETTER*/

.fond
{
	position:relative;
}

.sur-button
{
	position:absolute;
	display: inline-block;
}

.titre-1
{
	left: 5%;
	top: 5%;
	width : 25%;
}

.titre-rien
{
	font-size: 70px;
	font-weight: 300;
	font-family: 'Avenir';
	color: black;
}

.abonnez-vous
{
	left: 29%;
	top: 27%;
	width: 16%;
}

.abonnez
{
	font-size: 20px;
	font-weight: 500;
	font-family: 'Avenir';
	color: black;
}

.box-email
{
	width: 20%;
	top: 41%;
	left: 29%;
}

.box
{
	width: 70%;
	height: 35px;
}

.button-ok
{
	width: 3%;
	top :41%;
	left: 45%;
	height: 3%;
}

.button-newsletter
{
	font-weight: 500;
	width: 35px;
	height: 35px;
	font-family: 'Avenir';
	
}

.reseau-button
{
	width: 3%;
	height: auto;
}

.insta
{
	top: 46%;
	left: 81%;

}

.facebook
{
	top: 46%;
	left: 87%;
}

.youtube
{
	top: 46%;
	left: 92%;
}

