/* BODY */
body
{
	background-color: black;
}

.container-grid	{
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	width: 89.6%;
	margin-left: auto;
	margin-right: auto;
}

/* VIDEO */

.video
{
	position: static;
	display : block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.last-edition-button
{
	    /* call to action */

		box-sizing: border-box;
		background-color: black;
	
		/* Auto layout */
	
		display: inline-block;
		flex-direction: row;
		align-items: flex-start;
		padding: 13px 21px;
		gap: 10px;
	
		position: absolute;
		left: 50%;
		right: auto;
		top: 95%;
		width: auto;
		transform: translate(-50%, -50%);
	
		/* white */
		border: 1px solid #FFFFFF;

}
/*SECTION ARTS*/
.arts
{

	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.titre-art
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
	font-size: 70px;
	font-family: 'Avenir';
}

.block img
{
	width: 100%;
	height: auto;

}

.block button,
.block a
{
	width: 50%;
	height: auto;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all .3s;  

}

.hide-button-musique
{
	display: none;
	width: 50%;
	height: auto;
	background-color: transparent;
	border: none;
	position : absolute;
}


.block button:hover,
.block a:hover
{
	width: 100%;
	
}

.block
{
	width: 25%;
	position : relative;
}

.block-1
{
	
	display: inline-block;
	height: 22.5%;
	margin-left: 0%;
}

.block-2
{
	display: inline-block;
	height: 22.5%;
	margin-right: 0%;
}


.block-3
{
	display: inline-block;
	height: 22.5%;
}


.image-3
{
	margin-left: 100%;
}


.block-4
{
	display: inline-block;
	height: 22.5%;
	margin-right: 12.5%;
}

.musique-button
{
	left: 0%;
	position :absolute;
	border-radius: 9999px 0 0 9999px;
	z-index: 1;
	background-color: black !important;
	inset: 0;
}

.musique-button:hover {
	background-color: orange !important;

}

.musique-button span {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	font-size: x-large;
	opacity: 0;

}

.musique-button:hover span {
	opacity: 100;

	
}

.theatre-button
{
	left: 0%;
	position :absolute;
}

.opera-button
{
	margin-left: 50%;
	position :absolute;
}

.danse-button
{
	margin-left: 50%;
	position :absolute;
}

.texte
{
	font-size: 70px;
	font-family: 'Avenir';
	margin-top: 100px;
	margin-bottom: 100px;

}
.citation
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
}
.auteur-citation
{
	font-size: 10px;
	font-family: 'Avenir';
}

/*SECTION PHOTO */

.photo-cirque
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width : 100%;
}

/* SECTION EN QUELQUES MOTS*/
.en-quelques-mots
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width : 100%;
	background-color: #FFFFFF;
}

.mots
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 70px;
	font-family: 'Avenir';
}